<ion-header>
  <ion-toolbar>
    <ion-title>Reachout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header class="ion-text-center" >
        <ion-img src="/assets/image1.jpeg" class="img"></ion-img>
      <ion-card-subtitle class="text">Customer Service</ion-card-subtitle>
      <ion-card-title>Bangalore</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      <ion-item >
          <ion-icon name="pin"></ion-icon><ion-label> Bhilwara Infotechnology Limited
              3rd Floor, Marisoft-3 West Wing
              Marigold IT Park, 
              Pune, India.</ion-label></ion-item>
          <ion-item > <ion-icon name="mail"></ion-icon><ion-label> info@email.com</ion-label></ion-item>
        <ion-item> <ion-icon name="call"></ion-icon><ion-label> 123452324356</ion-label></ion-item> 
    </ion-card-content>
  </ion-card>
  
</ion-content>
