<ion-header>
    <ion-toolbar>
      <ion-title>
      About Us
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card>
      <ion-card-header>
          <ion-img src="/assets/logonew.png"></ion-img>
          <ion-card-title>bilwara infotech</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          Challanges that clients face in the areas of eCRM, eBusiness and IT application development, BIL offers a range of services to the eEnterprise and eBusiness space through its solution and services for Customer Relationship Management, Business to Business eCommerce & Business to Consumer eCommerce. BIL is headquatered out of NOIDA, India with offices in Bangalore, US (New Jersey) and U.K. BIL operates a full-fleged ISO 9001:2000 certified software development center that follows processes complaint with Level 5 of the Capability Maturity Model by the Software Engineering Institute (Carneigie Mellon University, US).
      </ion-card-content>
    </ion-card>
    
   
      
    </ion-content>
    